body {
	padding-right: 40px;
	background-color: darkslateblue;
	}
	
h1 {
	padding-right: 40px;
	color: lightsteelblue;
	font: 1.2em "Fira Sans", serif;
	}

p  {
	padding-right: 40px;
	color: lightslategray;
	}
